/* GENERAL */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #ffffff;
    color: #000000;
}

/* HERO SECTION */
.hero {
    display: flex;
    padding: 50px;
    background: #000000;
    color: white;
    align-items: center;
    justify-content: center;
}

.hero-img {
    width: 380px;
    border-radius: 10px;
    margin-right: 40px;
}

.hero-right {
    max-width: 450px;
}

.hero-right h4 {
    font-size: 14px;
    letter-spacing: 2px;
    color: #bbbbbb;
}

.hero-right h1 {
    font-size: 45px;
    margin: 10px 0;
}

.hero-right h2 {
    font-size: 22px;
    font-weight: 300;
    line-height: 1.3;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    padding: 12px 25px;
    border: 1px solid white;
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 14px;
    transition: 0.3s;
}

.btn:hover {
    background: white;
    color: black;
}

/* ABOUT SECTION */
.about-section {
    padding: 70px 40px;
    text-align: center;
}

.about-section h1 {
    font-size: 42px;
    margin-bottom: 5px;
}

.about-section h3 {
    margin-top: 0;
    font-weight: 600;
    letter-spacing: 1px;
}

.about-section p {
    max-width: 650px;
    margin: 20px auto 10px;
    font-size: 16px;
}

.about-btn {
    border: 1px solid black;
    color: black;
    margin-bottom: 30px;
}

.about-btn:hover {
    background: black;
    color: white;
}

/* IMAGES COLUMN */
.about-images {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.about-images img {
    width: 250px;
    border-radius: 10px;
}
